---
---

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);
@import "variables";

body {
	font-family:'Roboto';
	font-weight: 300;
	overflow-x: hidden;
}

.container-fluid {
	padding:0;
	transition:transform .2s ease-in-out, opacity .2s ease-in-out;
}

.lead-row {
	margin:0;
}

.lead-row > div{    
    background:#fff;
    width:100%;
    min-height:30vh;
    overflow:hidden;
    padding:0;
    background-color:rgba(0,0,0,.85);    

    &:before {
        content:'';
        background-image:url(https://cloud.githubusercontent.com/assets/3248070/12700245/35df30de-c827-11e5-98b5-62b348b053b5.jpg);
        background-size: contain;
        background-position: 20px top;
        background-repeat: no-repeat;
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:-1;
        opacity:.5;

        @include min768 {
            background-position:220px top;
            opacity:.1;
        }
    }

    @include min768 {
        min-height:50vh;
    } 
}


.latest-items {
    padding-left:10px;
    position:relative;
    padding-bottom:60px;
    overflow:hidden;
    margin:0;

    @include min768 {
        padding-left:200px;
    }

    @include min1100 {           
      
        max-width:1100px;
      
        &.home-items >div {
            max-width:300px;
        }
    }

    > div {
        height:auto;
        max-height:300px;
        overflow:hidden;
        padding:0;    
	    background-size:cover;
	    background-position:center center;

        @include min768 {
            height:25vh;
        }
    }

    a {
	    text-align:center;
        height:100%;
	    display:block;
	    z-index:3;
	    position:relative;	
        text-decoration:none;
    }
}

.content-row.deep > div {
	height:60vh;
}

.content-row.deep span {
	line-height:60vh;
}

[class*="overlay-"] {

    &:before, &:after {
	    content:'';
	    position:absolute;
	    top:0;
	    left:0;
	    right:0;
	    bottom:0;
	    display:block;
	    transition:background ease-in-out .2s;
    }
    
    &:before {
    	background:rgba(0,0,0,.85);
    }

    &:hover:before {
	    background:rgba(0,0,0,.5);
    }

    &:after {
        z-index:1;
    }
}

.overlay-a:after {	
	background:rgba(58,78,213,.2);
}

.overlay-b:after {
	background:rgba(58,207,213,.2);
}

.overlay-c:after {
    background:rgba(58,121,213,.2);
}

.overlay-d:after {
    background:rgba(58,164,213,.2);
}

.contact-row {
    
    margin: 0 0 30px 0;
    padding: 0;

    @include min768 {
        padding-left:200px;
        padding-bottom:90px;
    }
  
    > div {
		@include min768 {
			padding-left:0;
		}
    }
}
/* partials */
@import "nav";
@import "typo";
@import "content";
@import "pagination";
@import "highlights";
