.pagination {
  display:block;
  max-width:1100px;
  text-align:right;
  
  *:first-child, *:last-child {
    padding:5px;
    background:rgba(0,0,0,0.85);
    color:#fff;
  }
  
  a {
    background:#29484a;
  }
}
