h1 {
    padding:27px 60px 30px 20px;
    font-weight:700;
    color:rgba(255,255,255,1);
    font-size:4rem;
    margin:0;  
    border-image: linear-gradient(to bottom, rgba(58,217,203,.2) 30%, rgba(58,78,213,.2) 100%);    
    border-image-slice: 1;  
    border-width:0;		
    border-left-width: 10px; 
    height:30vh;
    display:table-cell;
    vertical-align:bottom;
    max-width:500px;

    @include min768 {
        padding: 0 60px 50px 50px;
        height:75vh;
        border-left-width:200px;
        font-size: 5.5rem;
        max-width:800px;
    }
}



h2 {
	margin-top:0;
	color:rgba(255,255,255,1);	
}

.form-col h2 {
    color:#555;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:15px;
}

h4 {
	font-weight:700;
	margin: 0 auto;
	position: relative;
  	text-align:center;
  	display:block;
  	padding:30px;
	text-transform: uppercase;
	color:#fff;
    max-width:300px;
    border-bottom:2px solid;
    border-top:2px solid;
    border-color:transparent;
    transition:border-color .3s ease-in-out .1s;

    @include min768 {
  	    top: 50%;
        transform: translateY(-50%);        
        padding:10px 0;
        max-width:70rem;
    }
}

.latest-items h4 {
  @include min768 {
    max-width: 200px;
  }
}

ul, ol {
    font-size:1.5rem;
    margin-bottom:2rem;

    @include min768 {
        font-size:2rem;
        margin-bottom:3.2rem;
    }

    li {
        color:#555;
    }
}

p {
	font-size:1.5rem;
	line-height:1.4;
	margin-bottom:2rem;
    color:#555;
    max-width:490px;

    &:first-of-type {
        font-size:2.5rem;
        font-weight:700;
        line-height:1.2;
        max-width:none;
    }

    @include min768 {
        font-size:2rem;
        margin-bottom:3.2rem;
        line-height:1.6;
        max-width:600px;

        &:first-of-type {
            font-size: 3.5rem;
            line-height:1.2;
        }
    }
}

pre {
    max-width:none;
    border-radius:0;
    margin-bottom:30px;

    + p {
        margin-top:40px;
    }
}

pre[class*="language-"], code[class*="language-"] {
    border-radius:0!important;
}

img {
    max-width:100%;
}

a {
    &:hover {
        h4 {
            text-decoration:none;
            border-color:#fff;
        }        
    }
}
