---
layout: default
---

<div class="row lead-row">
  <div class="col-xs-12">
    <h1>{{ page.title }}</h1>
  </div>
</div>

{% if page.image %}
<img class="main-image" src="{{ page.image }}" alt="..." />
{% endif %}

<div class="main-content-row">
  <div class="row">
    <div class="col-xs-12">
      <span>Last updated: {{ page.last_modified_at }}</span>
      {{ page.path | file_date | date_to_string }}
      {{ content }}      
    </div>
  </div>
</div>

<!--div ng-if="articles.length > 0" class="row latest-items latest-articles">
  <div class="col-md-4 overlay-{{getInt($index)}}" ng-repeat="a in articles track by $index" ng-style="a.ImageUrl !== '' && {'background-image': 'url(//nathanw.azurewebsites.net/{{a.ImageUrl}})'} ">
    <a ng-href="{{a.Url}}">
      <h4 ng-bind="a.Name"></h4>
    </a>
  </div>
</div-->
